
nav{
  height: 80px;
}

ul{
  margin: 0;
}

.nav-item a{
  color: #ffff;
  text-decoration: none;
  transition: 0.5s;
  padding: 3px;
}

.nav-item a:hover{
  color: #1cbbbd;
}

#navbar-main{
  background-color: #081f5d;
  width: 100%;
  align-content: center;
  align-items: center;
}

.navbar-nav{
  background-color: #081f5d;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
  font-size: 20pt;
}
